*{
    margin: 0;
    padding: 0;
} 

img{

max-width:  50%;
}

.title{

color:  gold;

text-transform:  uppercase;

margin:  30px;
}
.active img{background: greenyellow;}

img.carts{
    max-width: 150px;
}
img.cart{
    max-width:  200px;
}